/* .kzui-list__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.kzui-item__color-container {
    display: flex;
    align-items: center;
}

.kzui-item__color-box {
    width: 20px; 
    height: 20px; 
    margin-right: 5px; 
}



 */
